<template>
  <div>
    <header class="container">
      <NuxtLink to="/">Home</NuxtLink> | 
      <NuxtLink to="/about">About</NuxtLink> | 
      <NuxtLink to="/meals">Meals</NuxtLink> |
      <NuxtLink to="/supply">Supply</NuxtLink>
    </header>
    <section class="container mx-auto">
      <NuxtPage />
    </section>
    <footer><AppFooter/></footer>
  </div>
</template>

<style>
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>