<template>
    <div>
        <h1>Meal List</h1>
        <div class="border border-solid border-gray-500">
            <MyMeal v-for="meal in mealList" :key="meal._id" :meal="meal"/>
        </div>
    </div>
</template>

<script setup lang="ts">
const { data: mealList } = await useFetch("/api/meal")
</script>
