<template>
    <div class="max-w-md p-2 border border-gray-500 border-solid rounded m-2 shadow shadow-black">
        <h2 class="text-xl">{{ meal?.name }}</h2>
        <h4>Beschreibung:</h4>
        <p>{{ meal?.description }}</p>
    </div>
</template>

<script setup lang="ts">
import type { Meal } from '../composables/useMeals';

const props = defineProps({
    meal: Object as PropType<Meal>
})
</script>

<style scoped>
.card {
    border: 1px solid #999999;
    border-radius: 1rem;
    min-width: 100px;
    /*max-width: 300px;*/
    margin: 1rem;
    padding: 0.5rem;
}

.card h4 {
    color: grey;
}
</style>
