<template>
    <div>
        <h1>Testseite</h1>
        <p>Request ergab:</p>
        <pre>{{ hello }}</pre>
    </div>
</template>

<script setup>
const { data: hello } = await useFetch("/api/hello")
</script>

<style scoped>
pre {
    font-family: 'Courier New', Courier, monospace;
}
</style>