<template>
    <div>
        <h1>Anzeige der Versorgungsdaten</h1>
        <form @submit.prevent="fetchSupply">
            <label for="supplyType">Supply type</label>
            <select id="supplyType" v-model="supplyType">
                <option value=""/>
                <option v-for="type in supplyTypes" :key="type">{{ type }}</option>
            </select>
        </form>
        <button class="p-2 rounded border-solid border-zinc-500 shadow-md mt-4 mb-4" @click="fetchSupply">Fetch data</button>
        <div v-for="s in supplyData" :key="s.value">
            <ul>
                <li>Type: {{ s.type }}</li>
                <li>Date: {{ s.date }}</li>
                <li>Unit: {{ s.unit }}</li>
                <li>Value: {{ s.value }}</li>
            </ul>
        </div>
    </div>
</template>

<script setup lang="ts">
import { SupplyType, type SupplyData } from '~/utils/supply';

const supplyData = reactive([] as Array<SupplyData>);
const supplyType = ref("");
const supplyTypes = computed(() => [SupplyType.Gas, SupplyType.Strom, SupplyType.Wasser]);

async function fetchSupply() {
    const { data } = await useFetch("/api/supply", {query: {type: supplyType}} );
    supplyData.splice(0, supplyData.length);
    data.value?.forEach((item) => supplyData.push(
        {
            value: item.value,
            unit: item.unit,
            type: item.type,
            date: new Date(item.date),
        }));
}

</script>
